.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(106, 168, 191);
}

.grid div {
    height: 20px;
    width: 20px;
    background-color: rgb(221, 122, 211);
}

.tetromino {
    background-color: rgb(115, 249, 115);
}